{% set _locale = app.request.locale %}

<footer id="fh5co-footer" role="contentinfo">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-6 fh5co-widget">
                <div class="col" id="contact">
                    <h4> Contact Us </h4>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Full Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Message"></textarea>
                    </div>
                    <button type="submit" class="btn d-block w-100 mt-2 btn-primary">send</button>
                </div>
            </div>

            <div class="col-md-6 text-center">
                <h4>Contact Information</h4>
                <ul class="fh5co-footer-links">
                    <li>ANTANANARIVO, <br> MADAGASCAR</li>
                    <li><a href="tel://+261329473033">+ 261 32 94 730 33</a></li>
                    <li><a href="mailto:art.dev.mada@gmail.com">art.dev.mada@gmail.com</a></li>
                </ul>
            </div>
        </div>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">© 2019 DevinArt. All Rights Reserved.</small>
                    <small class="block">Designed by <a href="http://devinart.net/" target="_blank">Devinart.net</a></small>
                </p>
                <p>
                </p><ul class="fh5co-social-icons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
                <p></p>
            </div>
        </div>

    </div>
</footer>