.owl-next {
    position: absolute;
    right: 10px;
    top: 25%;
    color: #f95c5c!important;;
    font-size: 100px!important;;
}
.owl-prev {
    position: absolute;
    left: 10px;
    top: 25%;
    color: #f95c5c!important;;
    font-size: 100px!important;
}